.img {
    width: 100%;
    margin-bottom: 18%;
  }

  .container {
    min-height: 100%;
    width: 100%;
  }

  .post-card {
    width: 23%;
    margin-bottom: 2%;
  }

  .photo-button { 
    margin: 0 5px;
  }
  

mat-card {
    margin: 2em auto;
    text-align: center;
}

mat-toolbar-row {
    justify-content: space-between;
}

  