img {
    width: 400px;
}

@media (min-width: 600px) {
    img {
        width: 645px;
    }
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-container > div {
    margin: 10px;
}
