.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-container > div {
    margin: 10px;
}

div.map-place-holder {
    height: 800px;
    z-index: -10;

}

div.content-palce-holder {
    height: 484px;
}

